{% extends 'base.html' %}
{% block title %}Soloanvill.ru{% endblock %}
{% block body %}
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" id="mainNav">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link active py-3 px-0 px-lg-3" href="#skills">Skills</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1 active">
                    <a class="nav-link py-3 px-0 px-lg-3" href="#about">About</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1 active">
                    <a class="nav-link py-3 px-0 px-lg-3" data-bs-toggle="modal" data-bs-target="#contact">Contacts</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1 active">
                    <a class="nav-link py-3 px-0 px-lg-3" data-bs-toggle="modal" data-bs-target="#redeploy">Redeploy</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="redeploy" tabindex="-1" aria-labelledby="redeploylabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="redeployLabel">Let's redeploy landing with your name!</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="username" class="col-form-label">First and last name:</label>
                            <input type="text" class="form-control" id="username" name="username">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="col-form-label">Email:</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Redeploy</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="contact" tabindex="-1" aria-labelledby="contactlabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="contactlabel">Contacts</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="fs-5 fw-bold">Telegram - <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="https://t.me/RTAV3D">@RTAV3D</a> </p>
                <p class="fs-5 fw-bold">Email - <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="mailto:rtav3d@gmail.com">rtav3d@gmail.com</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<section id="skills" class="page-section skills text-dark d-flex justify-content-center">
    <div class="wrapper">
        <header class="masthead text-dark header">
            <div class="container d-flex align-items-center flex-column">
                <img class="masthead-avatar rounded-circle mx-auto d-block avatar" src="static/assets/profile.png" alt="...">
                <h1 class="masthead-heading mb-0">Timur Ramonov</h1>
            </div>
        </header>
        <div class="container flex-column aos-init aos-animate" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 aos-init aos-animate" data-bs-aos="zoom-in" data-bs-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><img class="docker_icon" src="static/assets/docker.svg" alt="Docker icon"></div>
                        <h3>Docker</h3>
                        <p class="fst-normal">Понимание принципов контейнеризации(Namespaces, Capabilities, CGroups). Контейниризация приложения с помощью Dockerfile, написание compose для автотестов, подготовка манифестов для разворачивания в K8s.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 aos-init aos-animate" data-bs-aos="zoom-in" data-bs-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><img class="ansible_icon" src="static/assets/ansible.svg" alt="Ansible icon"></div>
                        <h3>Ansible</h3>
                        <p class="fst-normal">Написание ролей для playbook'ов, использование Ansible в кач-ве звена в Gitlab CI.<strong>Ansible Semaphore/AWX</strong></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 aos-init aos-animate" data-bs-aos="zoom-in" data-bs-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><img class="gitlab_icon" src="static/assets/gitlab.svg" alt="Gitlab icon"></div>
                        <h3>Gitlab</h3>
                        <p class="fst-normal">Написание pipeline в <strong>Gitlab CI</strong>/<strong>Github Actions</strong> + <strong>Jenkins</strong>. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 aos-init aos-animate" data-bs-aos="zoom-in" data-bs-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><img class="zabbix_icon" src="static/assets/zabbix.png" alt="Zabbix icon"></div>
                        <h3>Zabbix</h3>
                        <p class="fst-normal">Настройка, администрирование, поддержка и развитие системы мониторинга инфраструктуры/сервисов. Опыт настройки как <strong>White box</strong>, так и <strong>Black Box</strong> мониторинга.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 aos-init aos-animate" data-bs-aos="zoom-in" data-bs-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><img class="shell_icon" src="static/assets/shell.png" alt="Shell icon"></div>
                        <h3>Script Languages</h3>
                        <p class="fst-normal">Написание скриптов и микросервисов на <strong>Golang, Python, Bash, Powershell</strong>.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 aos-init aos-animate" data-bs-aos="zoom-in" data-bs-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><img class="k8s_icon" src="static/assets/k8s.svg" alt="K8s icon"></div>
                        <h3>K8s</h3>
                        <p class="fst-normal">K8s/K3s/minikube/docker swarm. Данный лендинг развёрнут в K3s кластере.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section bg-dark text-white d-flex about" id="about">
    <div class="container">
        <footer class="container">
            <h2 class="page-section-heading text-center">About</h2>
            <div class="container">
                <p class="lead">Развиваюсь в направлении DevOps, так как используемый стек технологий и подход методологии к разработке вызывает у меня наибольший интерес.</p>
            </div>
        </footer>
    </div>
</section>
{% endblock %}