{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center page-section text-dark mt-4">
            <h1 class="display-1 text-danger">500</h1>
            <h2 class="display-4">Ошибка сервера</h2>
            <p class="lead fst-normal">К сожалению, что-то пошло не так на нашем сервере. Пожалуйста, попробуйте позже.</p>
            <a href="{{ url_for('index') }}" class="btn btn-primary mt-3">Вернуться на главную страницу</a>
        </div>
    </div>
</div>
{% endblock %}